asgiref==3.7.2
autopep8==2.0.2
awsebcli==3.20.7
botocore==1.29.158
cement==2.8.2
certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.3
dj-database-url==2.0.0
Django==4.2.2
django-heroku==0.3.1
gunicorn==20.1.0
idna==3.4
jmespath==1.0.1
pathspec==0.10.1
psycopg2==2.9.6
pycodestyle==2.10.0
python-dateutil==2.8.2
python-dotenv==1.0.0
PyYAML==5.4.1
requests==2.31.0
semantic-version==2.8.5
six==1.14.0
sqlparse==0.4.4
termcolor==1.1.0
typing_extensions==4.6.3
tzdata==2023.3
urllib3==1.26.16
wcwidth==0.1.9
whitenoise==6.5.0
