asgiref==3.6.0
distlib==0.3.6
dj-database-url==2.0.0
Django==4.2
django-heroku==0.3.1
filelock==3.11.0
gunicorn==20.1.0
mysql==0.0.3
mysql-connector-python==8.0.32
mysqlclient==2.1.1
platformdirs==3.2.0
protobuf==3.20.3
psycopg2==2.9.6
sqlparse==0.4.3
typing_extensions==4.6.3
tzdata==2023.3
virtualenv==20.21.0
whitenoise==6.5.0
