{% extends 'myApp/base/base.html' %}

{% block content %}
<div style="display: flex; justify-content: center;">
    <div>

        <h2 style="text-align: center;">Login</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            {{ form.as_p }}
            <div style="display: flex; justify-content: center;">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}